body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Top page CSS */

.center-image{
  display:flex;
  justify-content:center; /* horizontally center */
  align-items:center;    /* vertically center */
  background:#000000;
}

/* END */

/* OrderConfirmation page CSS */


.center-image-order{
  display:flex;
  justify-content:center; /* horizontally center */
  align-items:center;    /* vertically center */
}

.btn.waves-effect.waves-light {
  border: 2px solid #fff;
}

.order-message {
  background: #FFCC99;
}

.order-items {
  /* Cinza escuro: #A0A7AC */
  background: #F8F8F8;
}

.container-order {
  display: flex;
  flex-direction: column;
}

.order-shipping-info {
  background: #EEEEEE;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 30;
}

/* END */