body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-table {
  margin: 0px auto !important;

}

.no-border {
  border: 0 !important;
}

.round-button {
  border-style: solid;
  border-color: #000000;
  border-radius: 20px !important;
}

.line-horizontal-container {
  align-items: center;
  display: flex;
  height: 80px;
  margin-left: 5%;
  margin-right: 5%;
}

.line-horizontal {
  border-top: 1px solid rgb(30, 30, 30);
  width: 100%;
}

/* Entire page */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.center-element-by-parent {
  display:flex;
  justify-content:center; /* horizontally center */
  align-items:center;    /* vertically center */
  background: inherit;
}

/* END */

/* Top page CSS */

.center-image{
  display:flex;
  justify-content:center; /* horizontally center */
  align-items:center;    /* vertically center */
  background:#000000;
}

/* END */

/* OrderConfirmation page CSS */

.paragraph-font {
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.center-image-order{
  display:flex;
  justify-content:center; /* horizontally center */
  align-items:center;    /* vertically center */
}

.btn.waves-effect.waves-light {
  border: 2px solid #fff;
}

.order-message {
  background: #FFCC99;
}

.order-items {
  /* Cinza escuro: #A0A7AC */
  background: #F8F8F8;
}

.container-order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-shipping-info {
  background: #EEEEEE;
}

.bottom-section {
  background: black;
  text-align: center;
}

.medium {
  font-weight: 350;
}

.strong-medium-p {
  font-weight: 600 !important;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 30;
}

/* END */

/* Footer page CSS */

/* END */